body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #FEF8DD;
}
.calc-container {
    display: flex;
    flex-direction: column;
    border: solid;
    padding: 30px;
    background-color: #36454F;
}
.buttons-container {
    /* border: solid black; */
    display: flex;
}

.numbers{
    width: 30%;
    flex: auto;
    font-size: 24px;
}

.operator-container{
    /* border: steelblue solid; */
    display: flex;
    width: 100%;
    height: 40px;
}

.op-button{
    flex: auto;
    background-color: #FF9500;
    color: black;
}

.rmvBtns {
    background-color: #dd2d00;
    color: black;
    flex: 1;
}

.num-container{
    /*border: springgreen solid;*/
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.calc-right{
    display: flex;
}

#equal {
    flex: 1;
    width: 40px;
    /* border: solid; */
}

.displayst{
    border: none;
    margin: 0px;
    font-size: 24px;
    height: 24px;
    resize: none;
    overflow: hidden;
    flex: 1;
    outline: none;
    background-color: #A8C64E;
}

button {
    margin: 2px;
    font-size: large;
    background-color: #505050;
    border: black solid;
    color: white;
}

.display {
    display: flex;
    flex-direction: column;
    border: solid 1px black;
}

#remove {
    padding: 0;
}

.decimal {
    width: 30%;
    flex: auto;
    font-size: 24px;
}

.redBtns {
    display: flex;
    flex-direction: row-reverse;
}
